
body {
  margin: 0;
  padding-top: 45px;
}

.header {
  align-items: center;
  background-color: #ddd;
  border-bottom: 1px solid #aaa;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  font-size: 20px;
  font-weight: bold;
  max-width: 1600px;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header > div:nth-child(1) {
  flex-grow: 1;
}

.header > div:nth-child(2) {
  width: 25px;
}

.header > div:nth-child(3) {
  width: 50px;
}

.header > div:nth-child(4) {
  width: 80px;
}

.header > div:nth-child(5) {
  width: 25px;
}

.header svg {
  vertical-align: text-top;
}

.scene {
  height: calc(100vh - 80px); /* scrolling at the scene div */
  overflow-y: scroll;
  padding: 20px;
}

.current_line {
  background-color: #ddd;
}
