
.list {
  display: flex;
  flex-flow: column nowrap;
}

.list > div {
  display: flex;
  flex-flow: row nowrap;
}

.list > div > div:nth-child(1) {
  flex: 0 0 5%;
}

.list > div > div:nth-child(2) {
  flex: 0 0 10%;
}

.list > div > div:nth-child(3) {
  flex: 0 0 10%;
}

.list > div > div:nth-child(4) {
  flex: 0 0 20%;
}


.detail {
  display: flex;
  flex-flow: column nowrap;
}

.detail > div:nth-child(2) {
  display: flex;
  flex-flow: row nowrap;
}
